
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
$resbi-orange:								#fe9935;
$resbi-purple:								#410242;

$navbar-inverse-bg:                         #f0f0f0 !default;
$navbar-inverse-brand-color:                $resbi-purple !default;
$navbar-inverse-brand-hover-color:          darken($navbar-inverse-brand-color, 15%) !default;
$navbar-inverse-brand-hover-bg:             darken($navbar-inverse-bg, 15%) !default;

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 #fe9935 !default;
$btn-primary-border:             #fe9935 !default;

$pagination-color:                     #000 !default;
$pagination-bg:                        #fff !default;
$pagination-border:                    #ddd !default;

$pagination-hover-color:               #000 !default;
$pagination-hover-bg:                  #f0f0f0 !default;
$pagination-hover-border:              #ddd !default;

$pagination-active-color:              #fff !default;
$pagination-active-bg:                 $resbi-orange !default;
$pagination-active-border:             $resbi-orange !default;

$pagination-disabled-color:            #000 !default;
$pagination-disabled-bg:               #fff !default;
$pagination-disabled-border:           #ddd !default;

$navbar-inverse-link-color:                 #000 !default;
$navbar-inverse-link-hover-color:           $resbi-orange !default;
$navbar-inverse-link-active-color:          #000 !default;

@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// App-specific CSS

.navbar-brand {
    font-size: 23px;
    font-weight: 550;
}

body {
  padding-top: 5rem;
  background-color: #fff;
}

#app {
  padding: 3rem 1.5rem;
}

#add-game-player-table {
	width:100%
}

.player-row {
	width: 50%;
	padding: 5px 10px 5px 10px;
}